// Styling for header
header.masthead {
    background-image: url("../img/bg-masthead.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    height: 100vh;
    color: white;
    text-align: center;
}