@mixin serif-font {
    font-family: 'Droid Serif'
}
@mixin script-font {
    font-family: 'Kaushan Script'
}
@mixin body-font {
    font-family: 'Roboto Slab'
}
@mixin heading-font {
    font-family: 'Montserrat'
}